<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
     <div th:replace="~{fragment :: meta}"></div>
    <div th:replace="~{fragment :: styles}"></div>
    <title>店舗情報編集（管理者）</title>

</head>

<body>
<div th:replace="~{fragment :: header}"></div>

<main class="container pt-4 pb-5">

    <!-- パンくず -->
    <nav class="mb-4" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/admin/stores}">店舗一覧</a>
            </li>
            <li class="breadcrumb-item active">店舗情報編集</li>
        </ol>
    </nav>

    <!-- 店舗名 -->
   <h1 class="page-title text-center mb-4">店舗情報編集</h1>

<form
  class="store-edit-form"
  th:action="@{/admin/stores/{id}/update(id=${storeEditForm.id})}"
  th:object="${storeEditForm}"
  method="post"
  enctype="multipart/form-data">

  <!-- 店舗名 -->
  <div class="mb-3">
    <label class="form-label fw-bold">店舗名</label>
    <input type="text" class="form-control" th:field="*{name}">
  </div>

  <!-- カテゴリ -->
  <div class="mb-3">
    <label class="form-label fw-bold">カテゴリ</label>
    <input type="text" class="form-control" th:field="*{categoryName}">
  </div>

  <!-- 店舗画像 -->
  <div class="mb-3">
    <label class="form-label fw-bold">店舗画像</label>

<!--既存写真-->
<div th:if="${storeEditForm.imageUrl}" class="mb-2">
  <img th:src="${storeEditForm.imageUrl}"
       style="max-width:200px; border-radius:8px;">
</div>
    <!-- 既存画像 
    <div th:if="${imageName}" class="mb-2">
      <img th:src="@{/storage/{file}(file=${imageName})}"
           style="max-width:200px; border-radius:8px;">
    </div>
    -->

    <input type="file" class="form-control" th:field="*{imageFile}">
  </div>

  <!-- 価格 -->
  <div class="mb-3">
    <label class="form-label fw-bold">価格（円）</label>
    <input type="number" class="form-control" th:field="*{price}">
  </div>

  <!-- 説明 -->
  <div class="mb-3">
    <label class="form-label fw-bold">説明</label>
    <textarea class="form-control" rows="4" th:field="*{description}"></textarea>
  </div>

  <!-- 営業時間 -->
  <div class="mb-3">
    <label class="form-label fw-bold">営業時間</label>
    <input type="text" class="form-control" th:field="*{businessHours}">
  </div>

  <!-- 定休日 -->
  <div class="mb-3">
    <label class="form-label fw-bold">定休日</label>
    <input type="text" class="form-control" th:field="*{regularHoliday}">
  </div>

  <!-- 郵便番号 -->
  <div class="mb-3">
    <label class="form-label fw-bold">郵便番号</label>
    <input type="text" class="form-control" th:field="*{postalCode}">
  </div>

  <!-- 住所 -->
  <div class="mb-3">
    <label class="form-label fw-bold">住所</label>
    <input type="text" class="form-control" th:field="*{address}">
  </div>

  <!-- 電話番号 -->
  <div class="mb-3">
    <label class="form-label fw-bold">電話番号</label>
    <input type="text" class="form-control" th:field="*{phoneNumber}">
  </div>

  <div class="d-flex justify-content-center mt-4">
    <button class="btn btn-primary w-50">更新</button>
  </div>
</form>


</main>

<div th:replace="~{fragment :: footer}"></div>
<div th:replace="~{fragment :: scripts}"></div>
</body>
</html>